# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
!**/__pycache__/
!**/migrations/

## Directory-based project format
.idea/
.vscode/
*.sublime-workspace

*.manifest
*.spec

env/
venv/
node_modules/

pip-log.txt
pip-delete-this-directory.txt

media/
*.pot
*.sqlite3
local.py

.DS_Store

## Directory of coverage unit test
htmlcov/
.coverage
.coverage.*
*.cover